.layout-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout-container {
  width: 100%;
  min-height: 1200px;
  display: flex;
}

.layout-content {
  flex: 1;
}

.layout-children {
  width: 100%;
  // background-color: var(--content-background);
  padding-left: 60px;
  padding-top: 15px;

  &-header {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    .header__container-profile {
      max-width: 1030px;
      justify-content: flex-end;
      display: flex;
      gap: 1.5rem;
      align-items: center;

      &-img {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        transition: all ease-in-out 0.3s;
        cursor: pointer;
        img {
          border-radius: 50%;
          width: 100%;
          object-fit: contain;
        }

        // &:hover {
        //   scale: 1.09;
        // }
      }

      &-info {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        color: black;
        font-size: 14px;

        &-name {
          font-style: italic;
          font-weight: 400;
          line-height: 16px;
          text-transform: capitalize;
        }

        &-role {
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
          font-size: 14px;
          cursor: pointer;
          transition: all ease-in-out 0.1s;

          &:hover {
            color: var(--primary-light);
          }
        }
      }
    }
  }
}
