.layout-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout-container {
  width: 100%;
  min-height: 1200px;
  display: flex;
}

.layout-content {
  flex: 1;
}

.layout-children {
  width: 100%;
  background-color: var(--content-background);
  padding-left: 42px;
  padding-top: 42px;
  padding-bottom: 5rem;
}
