.configuration__container {
  background-color: white;
  max-width: 1200px;
  height: auto;
  padding-left: 4rem;
  padding-top: 50px;
  padding-bottom: 50px;

  .configuration__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    &-header {
      font-size: 20px;
      font-weight: 600;
      color: black;
      margin-bottom: 3rem;
    }
    &-line {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 3rem;

      &-item {
        width: 330px;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        &-title {
          color: #637381;
          font-size: 14px;
          font-weight: 400;
        }

        &-input {
          height: 40px;
          padding: 10px;
          font-size: 14px;
          width: 116px;

          &:hover {
            border: 2px solid var(--primary);
          }
        }
      }
    }

    &-button {
      margin-top: 2rem;

      padding: 10px 20px;
      border-radius: 3px;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px;
      transition: 0.3s linear all;
      cursor: pointer;
      background-color: var(--primary);
      color: white;
      border: none;
      width: 116px;
      &:hover {
        background-color: #157347;
      }
    }
  }
}
