.login__container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &-img {
    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &-right {
    filter: drop-shadow(0px 1px 3px rgba(63, 63, 68, 0.15))
      drop-shadow(0px 0px 0px rgba(63, 63, 68, 0.05));
    width: 446px;
    height: 514px;
    background-color: white;
    padding: 80px 70px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 16px;

    &-title {
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      color: #212b36;
      text-align: center;
    }

    &-form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;

      &-inputcontrol {
        display: flex;
        flex-direction: column;
        gap: 4px;

        label {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          color: #212b36;

          span {
            color: var(--primary);
          }
        }

        input {
          width: 308px;
          height: 36px;
          padding: 12px;
          border-radius: 3px;
          border: 1px solid var(--neutral-1, #919eab);
          background: #fff;
        }
      }

      &-features {
        margin-top: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &-rememberpassword {
          display: flex;
          gap: 8px;
          align-items: center;

          input {
            width: 20px;
            height: 20px;
            border-radius: 2px;
            border: 1.5px solid #c4cdd5;
          }
          p {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            color: #212b36;
          }
        }

        &-forgotpassword {
          font-size: 14px;
          font-style: italic;

          line-height: 20px;
          color: #2d9cdb;
        }
      }

      &-button {
        width: 308px;
        height: 48px;
        text-align: center;
        border-radius: 6px;
        background: var(--primary);
        color: white;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        margin-top: 4rem;
        border: none;
      }
    }
  }
}
