.header__container {
  width: 100%;
  height: 65px;
  background-color: #025f1e;
  padding: 12px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-logo {
    h1 {
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      color: white;
    }
  }

  &-profile {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    &-img {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      transition: all ease-in-out 0.3s;
      cursor: pointer;
      img {
        border-radius: 50%;
        width: 100%;
        object-fit: contain;
      }

      // &:hover {
      //   scale: 1.09;
      // }
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      color: white;
      font-size: 14px;

      &-name {
        font-style: italic;
        font-weight: 400;
        line-height: 16px;
        text-transform: capitalize;
      }

      &-role {
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        font-size: 14px;
        cursor: pointer;
        transition: all ease-in-out 0.1s;

        &:hover {
          color: var(--primary-light);
        }
      }
    }
  }
}
