.supermarket__container {
  padding-top: 36px;

  .supermarket__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1030px;
    margin-bottom: 40px;

    &-button {
      width: 185px;
      height: 36px;
      padding: 7px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 3px;
      background: var(--primary);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      color: white;
      cursor: pointer;

      &:hover {
        background: var(--primary-light);
      }
    }
  }
  .dropdown-menu {
    left: 15px !important;
    top: 10px !important;

    li {
      font-size: 14px;
      color: black;
      padding: 10px;
      // border: 1px solid black;
    }
  }
}

.arrow-down {
  color: var(--primary);
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
