.sidemenu-wrapper {
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  width: 350px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--tab-background);
}

.sidemenu-header {
  height: 220px;
  padding: 30px 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.sidemenu-tab {
  text-align: center;
  color: black;
  cursor: pointer;
  width: 100%;
  padding: 10px 20px 5px;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
  gap: 2rem;
  &-icon {
    width: 20px;
    height: 20px;
  }

  &-submenu-display {
    width: 100%;
    display: flex;
    padding-left: 50px;

    .close {
      display: none;
      opacity: 0;
    }
    ul {
      height: fit-content;
      opacity: 1;
      transform: translateY(0);
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      cursor: pointer;
      transition: all 0.3s linear;
    }
    li {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      transition: all 0.3s ease;

      &:hover {
        // background-color: var(--tab-background);

        color: var(--primary);
      }
    }
  }

  &-icon-dropdown {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 15px;
    right: 20px;
  }

  &-display {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }

  &:hover {
    // background-color: var(--tab-background);

    color: var(--primary);
  }
}

.sidemenu-tab.active,
.sidemenu-tab-submenu-display .active {
  // background-color: var(--tab-background);

  color: var(--primary);
}
